@model GasColumn

<div class="modal fade" id="addEntry">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-1">
                <h4 id="addEntryLabel" style="margin-top: -0.7rem; line-height: 1.5;">Записаться</h4>
                <button type="button" class="close" data-dismiss="modal" style="padding: 1rem 1rem; margin:-1.3rem -1rem -1rem auto">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body-1">
                <form action="SingUp" method="post">
                    <div class="form-group" style="margin-bottom: 0rem; margin-top: -1rem; font-size: 1.1rem;">
                        <label asp-for="ClienPhoneNumber">Введите ваш номер телефона:</label>
                        <input class="form-controll-user" asp-for="ClienPhoneNumber" />
                        <span asp-validation-for="ClienPhoneNumber" class="text-danger"></span>
                    </div>
                    <div style="margin-bottom: 0rem; font-size: 1.1rem;">
                        <label asp-for="Code">Код регистрации в очереди: <h5 style="text-decoration:solid;">@Model.Code</h5></label>
                    </div>
                    <div class="modal-footer-1">
                        @*<button type="button" class="modalBtn" data-save="modal">Записаться</button>*@
                        <input type="submit" class="modalBtn" value="Записаться" asp-route-id="@Model.Id" asp-route-code="@Model.Code" asp-route-clienPhoneNumber="@Model.ClienPhoneNumber" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>